@{
  Layout = "_Layout";
}

@model ClaireSalon.Models.Stylist

<h1>Do you really want to delete this stylist?</h1>

@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}

<div class="index-content">
  <div class="row-3">
    @Html.ActionLink("Back to stylist list", "Index")
  </div>
  <div class="row-3">
    @Html.ActionLink("Home", "Index", "Home")
  </div>
</div>